header.header
    .container.header__container
        a.logo.header__logo(href='#')
            span.logo__letter
                svg(width='17' height='20')
                    use(href="#Arita")
            | Arita /16
        nav.nav.header__nav
            ul.nav__list
                li.nav__item
                    a(href="#").nav__link Designers
                li.nav__item
                    a(href="#").nav__link History
                li.nav__item
                    a(href="#").nav__link News
        button.burger.header__burger(aria-label='Open menu')
