.slides-container__left {
    position: relative;
    width: 48%;
    flex-shrink: 0;
    padding-top: 67px;
}

.slides-container__slide {
    position: absolute;
    z-index: 20;
    width: 100%;
    left: 0;
    top: calc(67px + 50px);
    pointer-events: none;
    opacity: 0;
    &_active {
        opacity: 1;
        pointer-events: auto;
    }
}

.slides-container__text {
    width: 100%;
    position: relative;
    flex-shrink: 0;
}

.slides-container__title {
    margin: 0;
    margin-bottom: 70px;
    font-family: $font-alt;
    color: #fff;
    font-size: rem-calc(112);
    line-height: rem-calc(130);
    opacity: 0;
    transform: translateY(100px);
    &_dark {
        color: #000;
    }
}

.slide-bg {
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    height: 560px;
    width: 57.4%;
    margin-left: -5.4%;
}

.slide-bg__inner {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
    &.index {
        z-index: 10;
    }
    &_current {
        opacity: 1;
        z-index: 11;
    }
}

.slide-bg__link {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
