/* Fonts */
$font: "Oswald", "Arial", sans-serif;
$font-alt: "Merriweather", "Arial", sans-serif;

/* Colors */

/* Media */
$wide-screen: "min-aspect-ratio: 1680/650";
$wider: "min-aspect-ratio: 1441/760";
$narrower: "max-aspect-ratio: 1439/760";
$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
